<centered><h1>Almost there</h1></centered>

Single player game<br>
<form method="post" action="oneplayergame">
    <input type="text" name="pname" placeholder="playername" required><br>
    <input type="radio" name="diff" value="easy" checked>easy<br>
    <input type="radio" name="diff" value="medium">medium<br>
    <input type="radio" name="diff" value="hard">hard<br>
    <br>
    Would you like to go first or second?<br>
    <input type="submit" name="order" value="first">
    <input type="submit" name="order" value="second">
</form>
<br>
<br>
Two player game<br>
<form method="post" action="twoplayergame">
    <input type="text" name="p1name" placeholder="player ones name" required><br>
    <br>
    <input type="text" name="p2name" placeholder="player twos name" rquired><br>
    <br>
    <input type="submit" name="get some" value="get some">
</form>





