<centered><h1>Almost there</h1></centered>

Single player game<br>
<form method="post" action="oneplayergame">
    <input type="text" name="pname" placeholder="playername" required><br>
    <input type="radio" name="diff" checked>easy<br>
    <input type="radio" name="diff">medium<br>
    <input type="radio" name="diff">hard<br>
    <input type="submit" name="lets do this">
</form>
<br>
<br>
<br>
<br>
Two player game<br>
<form method="post" action="twoplayergame">
    <input type="text" name="p1name" placeholder="player ones name" required><br>
    <br>
    <input type="text" name="p2name" placeholder="player twos name" rquired><br>
    <br>
    <input type="submit" name="get some">
</form>





