<head>
<link rel = "stylesheet" href="/css/style.css">
</head>








<body onload="creepy()">

<%=yield%>
<script src = "/js/javescript.js">
</script>

</body>

<footer><a class="text" href="https://github.com/Ldeems"target= "_blank">
made by?
</a></footer>

