Howdy<br>
welcome to Rukes<br> 
Tic Tac Toe<br>
<br>



Are you ready to play?
<form method = "post" action = "welcome">
<input type = "submit" value = "yes">
</form><br>
<form method = "post" action = "really">
<input type = "submit" value = "nope">
</form><br>
<div id="happy">
<br>
</div>
